*{
    box-sizing: border-box;
}
header{
    display: block;
    position: relative;
    text-align: center;
}
    
.text{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

ul{
    list-style-type: none;
 
}
ol{
 padding-top: 10px;
}
.apple-pie{
    width: 30px;
}
.centered-apple{
    position:absolute;
    color:white ;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
}


#recipe-info-picture{
text-align: center;
}